pygithub
requests
beautifulsoup4
lxml
pyyaml
bandit
boto3
flake8
black
ruff
colorama
keyring
tqdm
docutils
webencodings
filelock
pytest
pytest-coverage
pandas
openpyxl
GitPython
yq
git+https://github.com/spacetelescope/nb-wrangler.git
