name: Code Quality
on:
   schedule: # weekly
     - cron: '0 0 * * 0'
   push:
      branches:
        - main
      paths-ignore:
        - "nbw-spec-archive/**"
   pull_request:
      branches:
        - main
      paths-ignore:
        - "nbw-spec-archive/**"
   workflow_dispatch:

jobs:
  quality-scanning:
    name: "${{ matrix.DEPLOYMENT_NAME }}  -- Code Quality"
    runs-on: ubuntu-22.04

    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        DEPLOYMENT_NAME: [ jwebbinar, roman, tike, wrangler ]
        USE_FROZEN: [ 0 ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Set Up Environment
        shell: bash
        run: |
           scripts/image-configure ${{ matrix.DEPLOYMENT_NAME }}  --use-frozen ${{ matrix.USE_FROZEN }}
           pip install -r requirements.txt
           df -h

      - name: YAML Parsing
        shell: bash
        continue-on-error: false
        run: |
           source setup-env
           scripts/sscan-yaml `find deployments .github scripts -name '*.yaml' -o -name '*.yml'`

      - name: Flake8 Scan
        shell: bash
        continue-on-error: false
        run: |
           source setup-env
           scripts/sscan-flake8

      - name: Ruff Scan
        shell: bash
        continue-on-error: false
        run: |
           source setup-env
           scripts/sscan-ruff
