name: Security Scans
on:
   schedule: # weekly
     - cron: '0 0 * * 0'
   push:
      branches:
        - main
      paths-ignore:
        - "nbw-spec-archive/**"
   pull_request:
      branches:
        - main
      paths-ignore:
        - "nbw-spec-archive/**"
   workflow_dispatch:
jobs:
  security-scanning:
    name: "${{ matrix.DEPLOYMENT_NAME }}  -- Security"
    runs-on: ubuntu-22.04

    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        DEPLOYMENT_NAME: [ jwebbinar, roman, tike, wrangler ]
        USE_FROZEN: [ 0 ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Set Up Environment
        shell: bash
        run: |
           scripts/image-configure ${{ matrix.DEPLOYMENT_NAME }}  --use-frozen ${{ matrix.USE_FROZEN }}
           pip install -r requirements.txt
           df -h

      - name: Bandit Scan
        shell: bash
        continue-on-error: false
        run: |
           source setup-env
           scripts/sscan-bandit

      - name: Run Trivy vulnerability scanner on file system
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          ignore-unfixed: true
          format: table
          vuln-type: os,library
          severity: 'CRITICAL,HIGH,MEDIUM'
          scan-ref: deployments/${{ matrix.DEPLOYMENT_NAME }}/env-frozen
